<p>
    <table mat-table [dataSource]="datos" class="mat-elevation-z8" #tabla1>

        <ng-container matColumnDef="Domingo">
          <th mat-header-cell *matHeaderCellDef> Domingo </th>
          <td mat-cell *matCellDef="let articulo"> {{}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Lunes">
          <th mat-header-cell *matHeaderCellDef> Lunes </th>
          <td mat-cell *matCellDef="let articulo"> {{}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Martes">
          <th mat-header-cell *matHeaderCellDef> Martes </th>
          <td mat-cell *matCellDef="let articulo"> {{}} </td>
        </ng-container>
      
        <ng-container matColumnDef="Miercoles">
          <th mat-header-cell *matHeaderCellDef> Miercoles </th>
          <td mat-cell *matCellDef="let j = index;"> {{}} </td>
        </ng-container>
        <ng-container matColumnDef="Jueves">
            <th mat-header-cell *matHeaderCellDef> Jueves </th>
            <td mat-cell *matCellDef="let articulo"> {{}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Viernes">
            <th mat-header-cell *matHeaderCellDef> Viernes </th>
            <td mat-cell *matCellDef="let articulo"> {{}} </td>
          </ng-container>
        
          <ng-container matColumnDef="Sabado">
            <th mat-header-cell *matHeaderCellDef> Sabado </th>
            <td mat-cell *matCellDef="let articulo"> {{}} </td>
          </ng-container>
        
        <tr mat-header-row *matHeaderRowDef="columnas"></tr>
        <tr mat-row *matRowDef="let row; columns: columnas;"></tr>
      </table>

</p>
