
<mat-tab-group>
  <mat-tab label="Meet" class="mat-tab-label">
     <p> <app-tabmeet></app-tabmeet></p>
  </mat-tab>
  <mat-tab label="Days">
    <p><!--<app-tabdays></app-tabdays>--></p>
  </mat-tab>
  <mat-tab label="Schedule">
    <p><app-tab-schedule></app-tab-schedule></p>
  </mat-tab>
  <mat-tab label="Invitations">
    <p><!--<app-tab-invitations></app-tab-invitations>--></p>
  </mat-tab>
  <mat-tab label="Acceptances">
    <p><!--<app-tab-acceptances></app-tab-acceptances>--></p>
  </mat-tab>
</mat-tab-group> 