
<p>
 <!-- Barra principal -->  
<mat-toolbar color="primary">
  <span class="fill-remaining-space">
    <!--  icino menu principal-->
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
    <!--botones del menu -->
    <mat-menu #menu="matMenu" [overlapTrigger]="false">
      <button mat-menu-item (click)="nuevaReunion()" > 
        <mat-icon>supervisor_account</mat-icon>
        <span>Crear Reunion</span>
      </button>
      <button mat-menu-item (click)="seleccionOpciones()">
        <mat-icon>people_outline</mat-icon>
        <span>Seleccionar Disponibilidad</span>
      </button>
      <button mat-menu-item (click)="administrar()">
        <mat-icon>admin_panel_settings</mat-icon>
        <span>Administrar</span>
      </button>
    </mat-menu>
  </span>

  <span class="fill-remaining-space"> Meeting-o-Matic </span>
  <!-- iconos -->  
  <button mat-icon-button class="example-icon" (click)="loginUser()">
    <mat-icon>account_box</mat-icon>
  </button>
  
  <button mat-icon-button class="example-icon" (click)="compartir()">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
</p>